html{
    height: 100%;
}
body{
    height: 100%;
    background-image: url(../img/bg_img.jpg);
}
.container{
    border: 1px solid #000;
    width: 1100px;
    margin: 0 auto;
    height: 100%;
}
.title{
   text-align: center;
}
.lesson{
    margin: 20px;
    padding: 20px;
    border: 1px solid #000;
    border-radius: 20px;
    min-height: 50px;
    
}
form{
    margin: 0 auto;
    min-width: 400px;

}
.tasks{
    text-align: center;
}
fieldset{
    padding: 10px;
}
legend{
    padding: 0 5px;
}
label{
    float: left;
    margin: 10px;
}
.result{
    background-color: #fff;
}
.btn-submit,.reset{
    border: 1px solid #000;
    border-radius: 5px;
    width: 100px;
    padding: 5px;
    margin: 10px;
    float: left;
    box-sizing: border-box;
    color: #000;
    font-weight: bold;
    background-color: yellow;
}
.btn-submit:hover,
.reset:hover{
    background-color: orange;
    cursor: pointer;
}
.btn-submit:active,
.reset:active{
    background-color: green;
}
.hidden{
    visibility: hidden;
}