.slider {
    position: relative;
    overflow: hidden;
    width: 800px;
    height: 600px;
    margin: 0 auto;
    align-items: center;
}

.slider-wrapper {
    display: flex;
    transition: transform 0.6s ease;
}
.slide-items{
    flex: 0 0 100%;
    max-width: 100%;
}
.slide-control {
    position: absolute;
    top: 50%;
    display: flex;
    align-items: center;
    width: 48px;
    color: #fff;
    text-align: center;
    opacity: 0.5;
    height: 50px;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, .5);
    border-radius: 50%;
    text-decoration: none;
}
.slide-control_show {
    display: flex;
}

.slide-control:hover,
.slide-control:focus {
    color: #fff;
    text-decoration: none;
    outline: 0;
    opacity: .9;
}
.slide-control-left {
    left: 0;
}

.slide-control-right {
    right: 0;
}

.slide-control::before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    background: transparent no-repeat center center;
    background-size: 100% 100%;
}
/*
.slide-item>img {
    line-height: 250px;
    font-size: 100px;
    text-align: center;
}*/